body {
    font-family: pokeFont;
    padding: 50px;
    background-image: radial-gradient(#c3e8fa, #52b7eb);
    /* min-width: 800px; */
}

h1,
h2,
h3 {
    font-weight: bold;
}

#mainGame {
    padding: 30px;
    /* background-color: #68BEE8; */
    /* background-image: radial-gradient( #93cae6,#52b7eb); */
}

#gameLogo {
    width: 70%;
    max-width: 500px;
}

#gameMenu,
#pokemonSelection,
#trainerDashboard {
    font-size: 1.5rem;
    text-align: center;
}

#pokemonSelection,
#trainerDashboard {
    display: none;
}

#greeterPokemon {
    /* height: 25vh; */
    width: 60vw;
}

#newGameButton,
#resumeGameButton,
#selectStarterButton {
    display: block;
    height: 50px;
    margin: auto;
}

#userGreeting {
    font-weight: bold;
}

#gameDisplay {
    height: 50vh;
    padding: 20px;
}

#selectorMessage,
#starterSelectorMessage {
    font-weight: bold;
}

.selectedInventoryPokemon {
    border: 1px solid #52b7eb;
}

#inventoryPokemonPreview {
    padding: 5px;
    border: 2px double #ffcb05;
    background-color: #fff1b9;
}

#inventoryPokemonInfo {
    padding: 5px;
    border: 2px double #52b7eb;
    background-color: #a8e0fc;

}

#username-input,
#pokemonSelector {
    width: 35vw;
    max-width: 400px;
}

.errorMessage {
    color: red;
    font-weight: bold;
}

#user-dne-error {
    font-size: 1rem;
}

/* Import Pokemon Font */
@font-face {
    font-family: pokeFont;
    src: url(../fonts/pokemon_pixel_font.ttf);

}