body {
    font-family: pokeFont;
    padding: 50px;
    background-image: radial-gradient(#c3e8fa, #52b7eb);
    min-width: 800px;
}

#mainGame {
    padding: 30px;
    /* background-color: #68BEE8; */
    /* background-image: radial-gradient( #93cae6,#52b7eb); */
}

#gameLogo {
    width: 70%;
    max-width: 500px;
}

#gameMenu {
    font-size: 1.5rem;
    text-align: center;
}

#greeterPokemon {
    /* height: 25vh; */
    width: 60vw;
}

#newGameButton,
#resumeGameButton {
    display: block;
    height: 50px;
    margin: auto;
}

#gameDisplay {
    height: 50vh;
    padding: 20px;
}

#selectorMessage {
    font-weight: bold;
}

#heroSelector {
    width: 35vw;
    max-width: 400px;
}

/* Import Pokemon Font */
@font-face {
    font-family: pokeFont;
    src: url(../fonts/pokemon_pixel_font.ttf);

}